<div class="container">
  <div class="footer">
    <div class="nav-contact-flex">
      <div class="footer-logo">
        <a class="footer-logo__svg" href="./"
          ><svg width="32" height="32">
            <use href="./images/svgs.svg#logo"></use></svg
        ></a>
        <a class="footer-logo__name" href="./">CUCINA</a>
      </div>

      <ul class="footer-nav">
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="./">Home</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#products">Store</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#recipes">Recipes</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#gallery">Gallery</a>
        </li>
      </ul>

      <ul class="contact">
        <li class="contact__item">
          <a
            class="contact__link"
            href="https://www.google.com/maps/search/Elvia+Elviaveien+1,+1234+Oslo/@59.8937806,10.6450355,11z/data=!3m1!4b1"
          >
            <svg
              class="contact__icon contact__icon-location"
              width="24"
              height="21"
            >
              <use href="./images/svgs.svg#location"></use></svg
            >Elviaveien 1, 1234 Oslo</a
          >
        </li>

        <li class="contact__item">
          <a class="contact__link" href="mailto:willie.jennings@example.com"
            ><svg
              class="contact__icon contact__icon-email"
              width="24"
              height="24"
            >
              <use href="./images/svgs.svg#email"></use></svg
            >@example.com</a
          >
        </li>
      </ul>

      <ul class="social social-hidden">
        <li class="social__item">
          <a class="social__link social__link--footer" href="#">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/svgs.svg#tumblr"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--footer" href="#">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/svgs.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--footer" href="#">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/svgs.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--footer" href="#">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/svgs.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="social-hidden-div">
      <ul class="social">
        <li class="social__item">
          <a class="social__link social__link--footer" href="#">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/svgs.svg#tumblr"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--footer" href="#">
            <svg class="social__icon" width="24" height="24">
              <use href="./images/svgs.svg#instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social__item">
          <a class="social__link social__link--footer" href="#">
            <svg class="social__icon" width="24" height="24">
              <use href="./images/svgs.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--footer" href="#">
            <svg class="social__icon" width="24" height="24">
              <use href="./images/svgs.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="conditions">
    By using this website, you agree to the &nbsp;<a
      class="conditions_link"
      href="#"
      >Terms of Service</a
    >&nbsp;and &nbsp;<a class="conditions_link" href="#">Privacy Policy</a>
  </p>
</div>
