<section class="gallery">
    <div class="container">
        <h2 class="gallery__title">Gallery</h2>
        <div class="gallery__images">
            <ul class="gallery__list">
                <li class="gallery__item" data-gallery="item">
                    <img class="gallery__img" src="images/Gallery/Mobile/gallery-photo-3.webp" alt="Man with tomatoes"
                        srcset="images/Gallery/Mobile/gallery-photo-3.webp 336w,
                            images/Gallery/Mobile/gallery-photo-3@2x.webp 672w,
                            images/Gallery/Tablet/gallery-photo-3.webp 770w,
                            images/Gallery/Tablet/gallery-photo-3@2x.webp 1540w,
                            images/Gallery/Desktop/gallery-photo-3.webp 1038w,
                            images/Gallery/Desktop/gallery-photo-3@2x.webp 2076w" />
                </li>
                <li class="gallery__item" data-gallery="item">
                    <img class="gallery__img " src="images/Gallery/Mobile/gallery-photo-1.webp" alt="Tomatoes" srcset="images/Gallery/Mobile/gallery-photo-1.webp 336w,
                    images/Gallery/Mobile/gallery-photo-1@2x.webp 672w,
                    images/Gallery/Tablet/gallery-photo-1.webp 770w,
                    images/Gallery/Tablet/gallery-photo-1@2x.webp 1540w,
                    images/Gallery/Desktop/gallery-photo-1.webp 1038w,
                    images/Gallery/Desktop/gallery-photo-1@2x.webp 2076w" />
                </li>
                <li class="gallery__item" data-gallery="item">
                    <img class="gallery__img" src="images/Gallery/Mobile/gallery-photo-2.webp"
                        alt="Children with tomatoes" srcset="images/Gallery/Mobile/gallery-photo-2.webp 336w,
                      images/Gallery/Mobile/gallery-photo-2@2x.webp 672w,
                      images/Gallery/Tablet/gallery-photo-2.webp 770w,
                      images/Gallery/Tablet/gallery-photo-2@2x.webp 1540w,
                      images/Gallery/Desktop/gallery-photo-2.webp 1038w,
                      images/Gallery/Desktop/gallery-photo-2@2x.webp 2076w" />
                </li>
                <li class="gallery__item" data-gallery="item">
                    <img class="gallery__img" src="images/Gallery/Mobile/gallery-photo-3.webp" alt="Man with tomatoes"
                        srcset="images/Gallery/Mobile/gallery-photo-3.webp 336w,
                        images/Gallery/Mobile/gallery-photo-3@2x.webp 672w,
                        images/Gallery/Tablet/gallery-photo-3.webp 770w,
                        images/Gallery/Tablet/gallery-photo-3@2x.webp 1540w,
                        images/Gallery/Desktop/gallery-photo-3.webp 1038w,
                                            images/Gallery/Desktop/gallery-photo-3@2x.webp 2076w" />
                </li>
                <li class="gallery__item" data-gallery="item">
                    <img class="gallery__img " src="images/Gallery/Mobile/gallery-photo-1.webp" alt="Tomatoes" srcset="images/Gallery/Mobile/gallery-photo-1.webp 336w,
                                    images/Gallery/Mobile/gallery-photo-1@2x.webp 672w,
                                    images/Gallery/Tablet/gallery-photo-1.webp 770w,
                                    images/Gallery/Tablet/gallery-photo-1@2x.webp 1540w,
                                    images/Gallery/Desktop/gallery-photo-1.webp 1038w,
                                    images/Gallery/Desktop/gallery-photo-1@2x.webp 2076w" />
                </li>
                <li class="gallery__item" data-gallery="item">
                    <img class="gallery__img" src="images/Gallery/Mobile/gallery-photo-2.webp"
                        alt="Children with tomatoes" srcset="images/Gallery/Mobile/gallery-photo-2.webp 336w,
                                    images/Gallery/Mobile/gallery-photo-2@2x.webp 672w,
                                     images/Gallery/Tablet/gallery-photo-2.webp 770w,
                                     images/Gallery/Tablet/gallery-photo-2@2x.webp 1540w,
                                      images/Gallery/Desktop/gallery-photo-2.webp 1038w,
                                      images/Gallery/Desktop/gallery-photo-2@2x.webp 2076w" />
                </li>
            </ul>
            <button class="gallery__btn gallery__btn__left" aria-label="Previous" data-gallery="prev">
                <svg class="gallery__btn__svg">
                    <use href="images/svgs.svg#slider-arrow"></use>
                </svg></button>
            <button class="gallery__btn gallery__btn__right" aria-label="Next" data-gallery="next">
                <svg class="gallery__btn__svg">
                    <use href="images/svgs.svg#slider-arrow"></use>
                </svg>
            </button>
        </div>
        <div class="gallery__markers">
            <button class="gallery__menu" data-gallery="marker"></button>
            <button class="gallery__menu" data-gallery="marker"></button>
            <button class="gallery__menu" data-gallery="marker"></button>
            <button class="gallery__menu" data-gallery="marker"></button>
            <button class="gallery__menu" data-gallery="marker"></button>
            <button class="gallery__menu" data-gallery="marker"></button>
        </div>
    </div>
    <script src="js/slider-gallery.js"></script>
</section>