<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <div class="hero__title-wrapper">
          <h1 class="hero__title">Cucina di catherina</h1>
          <h2 class="hero__subtitle">
            We know, <br />you will
            <span class="hero__subtitle hero__subtitle--accent">love</span>
            our product
          </h2>
        </div>
        <div>
          <button class="hero__main-btn" type="button" data-modal-order-open>
            Buy now
          </button>
          <div class="hero__product-content">
            <p class="hero__product-info">
              <span class="hero__product-quantity">14</span> different tastes
            </p>
            <p class="hero__product-info">
              <span class="hero__product-quantity">31</span> factories around<br />
              the world
            </p>
          </div>
        </div>
      </div>
      <ul class="hero__socials">
        <li class="hero__list-item">
          <a class="hero__item-link" href="#">
            <svg class="hero__socials-icon" width="16" height="16">
              <use href="./images/svgs.svg#tumblr"></use>
            </svg>
          </a>
        </li>
        <li class="hero__list-item">
          <a class="hero__item-link" href="#">
            <svg class="hero__socials-icon" width="16" height="16">
              <use href="./images/svgs.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero__list-item">
          <a class="hero__item-link" href="#">
            <svg class="hero__socials-icon" width="16" height="16">
              <use href="./images/svgs.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="hero__list-item">
          <a class="hero__item-link" href="#">
            <svg class="hero__socials-icon" width="16" height="16">
              <use href="./images/svgs.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="hero__img-box">
        <picture class="hero__picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/Hero/Desktop/hero-image.webp    1x,
              ./images/Hero/Desktop/hero-image@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1020px)"
            srcset="
              ./images/Hero/Tablet/hero-image.webp    1x,
              ./images/Hero/Tablet/hero-image@2x.webp 2x
            "
          />
          <source
            media="(min-width: 415px)"
            srcset="
              ./images/Hero/Mobile/hero-image.webp    1x,
              ./images/Hero/Mobile/hero-image@2x.webp 2x
            "
          />
          <img
            class="hero__sauce-image"
            src="./images/Hero/Mobile/hero-image.webp"
            alt="Bottle of pasta sauce"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
