<section class="products section" id="products">
  <div class="container products-container">
    <h2 class="products__title">Наші продукти</h2>
    <ul class="products__list productSlides">
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/Sauces/Mobile/ketchup-1.webp    1x,
              ./images/Sauces/Mobile/ketchup-1@2x.webp 2x
            "
            media="(max-width:1019px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Tablet/ketchup-1.webp    1x,
              ./images/Sauces/Tablet/ketchup-1@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Desktop/ketchup-1.webp    1x,
              ./images/Sauces/Desktop/ketchup-1@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <img
            class="products__image"
            src="./images/Sauces/Desktop/ketchup-1.webp"
            alt="Купити кетчуп"
          />
        </picture>
        <div class="products__content">
          <h3 class="products__caption">Classic sauce</h3>
          <p class="products__text">
            The most delicate taste of tomatoes, combined with branded spices
            and white wine, will make your dish incredibly tasty.
          </p>
          <button class="products__btn" type="button" data-modal-order-open1>
            Buy now
          </button>
        </div>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/Sauces/Mobile/chilli-sauce-1.webp    1x,
              ./images/Sauces/Mobile/chilli-sauce-1@2x.webp 2x
            "
            media="(max-width:1019px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Tablet/chilli-sauce-1.webp    1x,
              ./images/Sauces/Tablet/chilli-sauce-1@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Desktop/chilli-sauce-1.webp    1x,
              ./images/Sauces/Desktop/chilli-sauce-1@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <img
            class="products__image"
            src="./images/Sauces/Desktop/chilli-sauce-1.webp"
            alt="Купити чилі соус"
          />
        </picture>
        <div class="products__content products__content--right">
          <h3 class="products__caption">Spicy sauce</h3>
          <p class="products__text">
            For thrill-seekers, we added hot chili pepper to our sauce, it also
            reveals all the tastes and aromas of the sauce well.
          </p>
          <button class="products__btn" type="button" data-modal-order-open6>
            Buy now
          </button>
        </div>
      </li>
    </ul>
    <ul class="products__list productSlides">
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/Sauces/Mobile/ketchup-2.webp    1x,
              ./images/Sauces/Mobile/ketchup-2@2x.webp 2x
            "
            media="(max-width:1019px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Tablet/ketchup-2.webp    1x,
              ./images/Sauces/Tablet/ketchup-2@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Desktop/ketchup-2.webp    1x,
              ./images/Sauces/Desktop/ketchup-2@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <img
            class="products__image"
            src="./images/Sauces/Desktop/ketchup-2.webp"
            alt="Купити кетчуп"
          />
        </picture>
        <div class="products__content">
          <h3 class="products__caption">Classic sauce</h3>
          <p class="products__text">
            The most delicate taste of tomatoes, combined with branded spices
            and white wine, will make your dish incredibly tasty.
          </p>
          <button class="products__btn" type="button" data-modal-order-open2>
            Buy now
          </button>
        </div>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/Sauces/Mobile/chilli-sauce-2.webp    1x,
              ./images/Sauces/Mobile/chilli-sauce-2@2x.webp 2x
            "
            media="(max-width:1019px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Tablet/chilli-sauce-2.webp    1x,
              ./images/Sauces/Tablet/chilli-sauce-2@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Desktop/chilli-sauce-2.webp    1x,
              ./images/Sauces/Desktop/chilli-sauce-2@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <img
            class="products__image"
            src="./images/Sauces/Desktop/chilli-sauce-2.webp"
            alt="Купити чилі соус"
          />
        </picture>
        <div class="products__content products__content--right">
          <h3 class="products__caption">Spicy sauce</h3>
          <p class="products__text">
            For thrill-seekers, we added hot chili pepper to our sauce, it also
            reveals all the tastes and aromas of the sauce well.
          </p>
          <button class="products__btn" type="button" data-modal-order-open3>
            Buy now
          </button>
        </div>
      </li>
    </ul>
    <ul class="products__list productSlides">
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/Sauces/Mobile/ketchup-3.webp    1x,
              ./images/Sauces/Mobile/ketchup-3@2x.webp 2x
            "
            media="(max-width:1019px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Tablet/ketchup-3.webp    1x,
              ./images/Sauces/Tablet/ketchup-3@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Desktop/ketchup-3.webp    1x,
              ./images/Sauces/Desktop/ketchup-3@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <img
            class="products__image"
            src="./images/Sauces/Desktop/ketchup-3.webp"
            alt="Купити кетчуп"
          />
        </picture>
        <div class="products__content">
          <h3 class="products__caption">Classic sauce</h3>
          <p class="products__text">
            The most delicate taste of tomatoes, combined with branded spices
            and white wine, will make your dish incredibly tasty.
          </p>
          <button class="products__btn" type="button" data-modal-order-open4>
            Buy now
          </button>
        </div>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/Sauces/Mobile/chilli-sauce-3.webp    1x,
              ./images/Sauces/Mobile/chilli-sauce-3@2x.webp 2x
            "
            media="(max-width:1019px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Tablet/chilli-sauce-3.webp    1x,
              ./images/Sauces/Tablet/chilli-sauce-3@2x.webp 2x
            "
            media="(max-width:1279px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/Sauces/Desktop/chilli-sauce-3.webp    1x,
              ./images/Sauces/Desktop/chilli-sauce-3@2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />
          <img
            class="products__image"
            src="./images/Sauces/Desktop/chilli-sauce-3.webp"
            alt="Купити чилі соус"
          />
        </picture>
        <div class="products__content products__content--right">
          <h3 class="products__caption">Spicy sauce</h3>
          <p class="products__text">
            For thrill-seekers, we added hot chili pepper to our sauce, it also
            reveals all the tastes and aromas of the sauce well.
          </p>
          <button class="products__btn" type="button" data-modal-order-open5>
            Buy now
          </button>
        </div>
      </li>
    </ul>
    <a class="products__next" onclick="plusSlides(-1)"
      ><svg class="products__icon products__icon--next">
        <use href="./images/svgs.svg#slider-arrow"></use></svg
    ></a>
    <a class="products__prev" onclick="plusSlides(1)"
      ><svg class="products__icon products__icon--prev">
        <use href="./images/svgs.svg#slider-arrow"></use></svg
    ></a>
  </div>
</section>
