<section class="recipes">
  <div class="container">
    <h2 class="recipes__title">Our recipes</h2>
    <ul class="recipes__list">
      <li class="recipes__item">
        <div class="recipes__video-box">
           <iframe class="recipes__video" src="https://www.youtube.com/embed/Svk1SwdL1eg"></iframe>
        </div>
        <p class="recipes__desc">Tomato paste</p>
      </li>
      <li class="recipes__item">
        <div class="recipes__video-box">
         <iframe class="recipes__video" src="https://www.youtube.com/embed/5wWGF57tp7U"></iframe>
        </div>
        <p class="recipes__desc">Bell paper paste</p>
      </li>
    </ul>
  </div>
</section> 
