.order {
  outline: 1px solid tomato;

  position: relative;

  padding: 60px 15px;
  margin: 0 auto;

  @media screen and (max-width: $to-mobile) {
    max-width: 414px;
    padding: 60px 10px;
  }

  @media screen and (min-width: $mobile) {
    width: 414px;
    padding: 60px 15px;
  }

  @media screen and (min-width: $tablet) {
    width: 504px;
    padding: 60px;
  }
}

.order__close-btn {
  position: absolute;
  top: 28px;
  right: 28px;

  padding: 0;
  border: none;
  background: transparent;
}

.order__close-icon {
  display: block;
  fill: $icon-fill;
}

.order-form__title {
  margin-bottom: 40px;

  @include font(32px, 39px, null);
  text-align: center;
}

.order-form__group-block {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.order-form__group-heading {
  margin-bottom: 24px;

  font-weight: 500;
}

.order-form__label {
  display: block;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--custom-btn {
    @include centeredFlex(null);
    gap: 12px;
  }

  &--fw-light {
    font-weight: 300;
  }
}

.order-form__input {
  display: block;
  width: 100%;
  height: 52px;
  margin-top: 12px;
  padding: 0 16px;

  color: $primary-text-col;

  background: $input-bg-col;
  border: 1px solid $input-bd-col;
  border-radius: 16px;

  &::placeholder {
    color: $placeholder-col;
  }

  &--select {
    color: $placeholder-col;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.order-form__select-wrapper {
  position: relative;
}

.order-form__select-icon {
  position: absolute;
  top: 14px;
  right: 14px;

  fill: $icon-fill;
}

.order-form__city-option {
  color: $placeholder-col;
}

.order-form__delivery-choice {
  display: flex;

  margin-bottom: 20px;
}

.order-form__del-label {
  @include centeredFlex();
  width: 50%;
  padding: 8px 31px;

  text-align: center;

  border: 1px solid $decoration-bg-col;

  &--bord-left {
    border-right: none;
    border-radius: 16px 0 0 16px;
  }

  &--bord-right {
    border-left: none;
    border-radius: 0 16px 16px 0;
  }
}

.order-form__delivery-input {
  @include visualHidden();
  &:checked + .order-form__del-label {
    background-color: $decoration-bg-col;
    color: #100f0f;
  }
}

.order-form__payment-input {
  @include visualHidden();

  &:checked + .order-form__radio-btn {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;
      width: 12px;
      height: 12px;
      background: #2c2c2c;
      border-radius: 50%;
    }
  }
}

.order-form__radio-btn {
  position: relative;

  display: inline-block;
  width: 24px;
  height: 24px;
  background: #f3f3f3;
  border: 1px solid #000000;
  border-radius: 50%;
}

.order-form__comment {
  display: block;
  margin-bottom: 20px;

  color: inherit;
  text-decoration: underline;
}

.order-form__custom-checkbox {
  position: relative;

  @include centeredFlex();
  width: 18px;
  height: 18px;

  border: 2px solid $decoration-bg-col;
  border-radius: 3px;
}

.order-form__confirm-ckeckbox {
  @include visualHidden();

  &:checked {
    + .order-form__custom-checkbox {
      background-color: $decoration-bg-col;

      &::after {
        content: '';
        position: absolute;

        display: block;
        height: 9px;
        width: 9px;

        background-color: #2c2c2c;
        border-radius: 50%;
      }
    }
  }
}

.order-form__confirm-btn {
  display: block;
  min-width: 100%;
  padding: 21px 0;

  @include font(20px, 24px, 700);
  color: inherit;

  border: none;
  border-radius: 16px;
  background-color: $btn-bg-col;
}
